.info-contact{
    max-width: 40rem;

    .contacts {
        display: flex;
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
        gap: .75rem;
        align-items: center;

        & h2 {
            font: 600 1.12rem/1.25 var(--font-family-2);
        }
    }

    


}

.divider {
    width: 40rem;
    height: 1px;
    background-color: var(--input-stroke);
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.terms-wrapper {
    margin-top: .45rem;
    display: flex;
    gap: .75rem;
    align-items: flex-start;

    & strong {
        font-weight: 500;
        color: var(--brand-light);
    }
}

.checkbox-wrapper {
    position: relative;
    cursor: pointer;

    & [type="checkbox"] {
        all: unset;
        position: absolute;
        inset: 0;
    }

    .checkbox-image {
        flex: 0 0 1.5rem;
        height: 1.5rem;

        background-image: url(../../assets/icons/checkbox-empty.svg);
        background-repeat: no-repeat;

    }

    &:hover, &:focus-within {
        .checkbox-image {
            outline-color: var(--brand-light);
            border-radius: 4px;
        }
    }

    &:has(:checked) .checkbox-image {
        background-image: url(../../assets/icons/checkbox-full.svg);
        background-repeat: no-repeat;
    }
}