
.color-buttons {
    display: flex;
    justify-content: space-around;
    max-width: 40rem;

    

}

.color-button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 8px solid var(--shape-button);
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1); /* Opcional: adicionar sombra para efeito visual */
}

.inner-button {
    & input,
    & input:focus,
    & input:hover {
        all: unset;  
}

&:hover, &:focus-within {
    border: 3px solid var(--brand-light);
    border-radius: 50%;
}
}
