* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-family: 'Open Sans', sans-serif;
    --font-family-2: 'Ballo 2', sans-serif;
    --text: 500 1rem/1.5rem var(--font-family);

    --heading-md: 700 1.75rem var(--font-family-2);
    --heading-sm: 700 1.125rem var (--font-family-2);

    --text-md: 500 1rem var (--font-family);
    --text-sm: 500 .875rem var (--font-family);
    --text-xs: 500 .75 var (--font-family);

    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;

    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;

    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;




}

body {
    overflow: hidden;

    font: var(--text);
    color: var(--text-body);
    background-color: var(--shape-background);

    
}

h1, h2 {
    font-family: var(--font-family-2);
    color: var(--text-heading);
}

img {
    max-width: 100%;
    height: auto;
}

.flex {
    display: flex;
}

.flex-2 {
    flex: 2;
}

.flex-1 {
    flex: 1;
}

.content-tag {
    display: inline-block;
    padding: .25rem .5rem .20rem .5rem;
    background-color: var(--input-stroke);
    /*margin: .75rem;*/
    border-radius: .5rem;
    font: var(--font-family);
    color: var(--text);
}