#invite-page {
    display: grid;
    grid-template-columns: 1fr 2fr;

    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin-inline: auto;

    
}

main {
    overflow: auto;
    padding: 5rem 8.125rem 5rem 8.125rem;
    margin: 1.25rem;
    background-color: var(--shape-body);
    

    
    border-radius: 12px;

    & .main-container {
        max-width: 40rem;
        align-items: center;
        
    }

     .event {
        display: flex;
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
        gap: .75rem;
        align-items: center;

        & h2 {
            font: 600 1.12rem/1.25 var(--font-family-2);
        }
    }

    .customization {
        display: flex;
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
        gap: .75rem;
        align-items: center;

        & h2 {
            font: 600 1.12rem/1.25 var(--font-family-2);
        }
        
    }
}

aside {
    /*border: 10px solid black;*/
    border-radius: 12px;
    background-image: url(../assets/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    margin: 1.25rem;
    padding: 1.25rem;

    & .aside-container{
    max-width: 30rem;
    
        & .invite {
            padding: 2rem;
        }

    }

    & h1 {
        font-family: 'Leckerli One', sans-serif;
        font-size: 2.5rem;
        line-height: auto;
        color: #FF598B;

        padding-top: 1.5rem;
        padding-bottom: 1rem;
        gap: 1rem;

    }

    span {
        padding-top: 1rem;
    }

    
}